@import 'tailwindcss';

:root {
  --background: #dabfff;
  --foreground: #2c2a4a;
  --primary: #907ad6;
  --secondary: #7fdeff;

  --netrual-1: #8070c4;
  --netrual-2: #7066b1;
  --netrual-3: #4f518c;
  --netrual-4: #3e3e6b;
  --netrual-5: #35345b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-netrual-1: var(--netrual-1);
  --color-netrual-2: var(--netrual-2);
  --color-netrual-3: var(--netrual-3);
  --color-netrual-4: var(--netrual-4);
  --color-netrual-5: var(--netrual-5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2a4a;
    --foreground: #dabfff;
    --primary: #907ad6;
    --secondary: #7fdeff;

    --netrual-1: #8070c4;
    --netrual-2: #7066b1;
    --netrual-3: #4f518c;
    --netrual-4: #3e3e6b;
    --netrual-5: #35345b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
